{
    "parser": "babel-eslint",
    "extends": [
        "prettier"
    ],
    "env": {
        "es6": true
    },
    "rules": {
        "comma-dangle": ["error", "only-multiline"]
    },
    "plugins": [
        "prettier"
    ],
}
